{% extends 'base.html.twig' %}

{% block title %}Hello QuestionController!{% endblock %}

{% block main %}
    <div class="container">
        <h1>Quizz</h1>

        <h2 class="mt-4">Question n°<span id="question-id">{{ question.order }}</span></h2>
        <form id="question-form" method="post" action="{{ path('question_answer', {id: question.id}) }}">
            <p id="current-question-text" class="question-text">{{ question.text }}</p>
            <div id="answers" class="d-flex flex-column">

            {% for answer in question.answers %}
                <div class="custom-control custom-radio mb-2">
                    <input class="custom-control-input" type="radio" name="answer" id="answer-{{ answer.id }}"
                        value="{{ answer.id }}">
                    <label class="custom-control-label" for="answer-{{ answer.id }}">{{ answer.text }}</label>
                </div>
            {% endfor %}

            </div>
            <input type="hidden" name="current-question" value="{{ question.id }}" />
            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>
{% endblock %}
